
body{
    margin-right: 0;
    width: 100%;
    height: auto;
}
.text-center{
    text-align: center;
    color:black;
    margin-top: 10px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background-color:slategray;
    width: 30%;
    border-radius: 10%;
}
 input[type=submit]{
    margin-left: 50%;
    cursor: pointer;
}
input[type=text],[type=email], [type=number], [type=password]{
   color: white;
}
footer{
    display: flex;
    margin-bottom: -10px;
    justify-content: center;
}
